<%- include ('../partials/header') %>

<h1 style="color: green;text-align:center"> Your reservation number is on the link</h1>		
<h2 style="color: blue;text-align:center"> It will help you for edit or remove your reservation!</h2>		

<%- include ('../partials/footer') %>
